## Working environment
pip
jupyter
nbdime
pixiedust
joblib
pydotplus
dill

## core scientific
numpy
pandas
scipy
dask
statsmodels

## Visualisation
seaborn
matplotlib

## ML
scikit-learn
pykitml

## twitter
twython
geopy

## vision
opencv-python
