## Working environment
pip
jupyterlab
nbdime
pixiedust
joblib
pydotplus
python-dotenv
dill
black
pyflakes
pytest

## core scientific
numpy
pandas
scipy
dask[complete]
lifelines

## Visualisation
seaborn
matplotlib
plotly
streamlit
altair

## ML
scikit-learn

## twitter
twython
geopy

## vision
opencv-python


## AWS
boto3
awswrangler
sagemaker


## flickr
flickr_api
